#project-search-page {
    background-color:#f0f8ff ;
}

#search-form-wrap {
    width: 500px; 
    margin: 20px auto;
}

#form-text {
    display: block; 
    width: 100%;
}

#form-button {
    display: block; 
    width: 200px; 
    padding: 5px 20px; 
    margin: 5px auto; 
    background-color: #1e90ff; 
    border: none; 
    color: white; text-align: center;
}

.search-result-content {
    width: 500px;
    margin: 20px auto;
    background-color: white;
    border-radius: 10px;
}

.search-project-title {
    text-align: center; 
    font-size: 40px;
}

.search-project-text {
    width: 300px; 
    margin: 30px auto;
}

.content-item {
    display: flex;
    justify-content: space-between;
}

.item-heading {
    width: 100px;
    text-align: right;
    padding-right: 10px;
}

.item-link {
    display: block;
    width: 400px;
}

#label-prediction-percentage-area {
    width: 500px;
    margin: 50px auto;
    text-align: center;
}

#area-tile-sentence {
    text-align: center;
}

#percentage-display-sentence {
    display: none;
}

svg {
    display: block;
    margin: 30px auto;
    transform: rotate(-90deg);
    /* SVGを90度反時計回りに回転させ、プログレスが上から始まるようにします */
    transform-origin: center;
    /* SVGを中心に回転 */
}

.progress-ring__circle {
    stroke-dasharray: 440;
    /* 円周の長さ */
    stroke-dashoffset: 440;
    /* 円全体を非表示にする初期値 */
    stroke-width: 10;
    fill: none;
    stroke: #87cefa;
}

.background-ring {
    fill: none;
    stroke: lightgrey;
    stroke-width: 10;
}

.progress-text {
    fill: #87cefa;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    text-anchor: middle;
    /* テキストを中心に配置 */
    alignment-baseline: middle;
    /* 垂直方向の中心に配置 */
    transform: rotate(90deg);
    /* SVG全体の回転を打ち消して、テキストを横向きに戻す */
    transform-origin: center;
    /* 中心を基点に回転 */
}