html,#project-search-page {
    height: 100%; 
    margin: 0; 
    padding: 0; 
    width: 100%; 
    background-color:#f0f8ff ;
}

#search-form-wrap {
    width: 500px; 
    margin: 20px auto;
}

#form-text {
    display: block; 
    width: 100%;
}

#form-button {
    display: block; 
    width: 200px; 
    padding: 5px 20px; 
    margin: 5px auto; 
    background-color: #1e90ff; 
    border: none; 
    color: white; text-align: center;
}

.search-result-content {
    width: 500px;
    margin: 20px auto;
    background-color: white;
    border-radius: 10px;
}

.search-project-title {
    text-align: center; 
    font-size: 40px;
}

.search-project-text {
    width: 300px; 
    margin: 30px auto;
}

.content-item {
    display: flex;
    justify-content: space-between;
}

.item-heading {
    width: 100px;
    text-align: right;
    padding-right: 10px;
}

.item-link {
    display: block;
    width: 400px;
}

#label-prediction-percentage-area {
    width: 500px;
    margin: 50px auto;
    text-align: center;
}

#area-tile-sentence {
    text-align: center;
}

#percentage-display-sentence {
    display: none;
}

svg {
    display: block;
    width: 100%;
    margin: 30px auto;
    transform: rotate(-90deg);
    transform-origin: center;
}

.progress-ring__circle {
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    stroke-width: 10;
    fill: none;
    stroke: #87cefa;
}

.background-ring {
    fill: none;
    stroke: lightgrey;
    stroke-width: 10;
}

.progress-text {
    fill: #87cefa;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    text-anchor: middle;
    alignment-baseline: middle;
    transform: rotate(90deg);
    transform-origin: center;
}

@media (max-width: 600px) {
    #search-form-wrap {
        width: 80%; 
        margin: 20px auto;
    }

    #form-text {
        width: 100%;
    }

    #form-button {
        width: 80%; 
        margin: 5px auto; 
    }

    .search-result-content {
        width: 80%;
    }

    .search-project-text {
        width: 80%;
    }

    .item-heading {
        width: 80%;
    }

    .item-link {
        width: 80%;
    }

    #label-prediction-percentage-area {
        width: 80%;
    }

    svg {
        display: block;
        width: 100%;
        height: auto;
    }
}